{
	auto_https off
}

http://server.home {
	reverse_proxy /* home-assistant.home:8123
}

http://zigbee2mqtt.home {
	reverse_proxy /* zigbee2mqtt.home:8080
}

http://influxdb.home {
	reverse_proxy /* influxdb.home:8086
}
